# Archivos de Node.js
node_modules/
package-lock.json

# Variables de entorno (NUNCA subir a GitHub)
.env
.env.local

# Archivos de Vercel
.vercel

# Python
__pycache__/
*.pyc

# Sistema
.DS_Store
Thumbs.db
